@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&family=Open+Sans:wght@500&display=swap');

body {
	font-family: 'DM Sans', sans-serif;
}

.logo1 {
	font-size: 1.5rem;
	font-weight: bolder;
	text-transform: none;
	font-family: 'Bai Jamjuree', sans-serif;
}

.img-first-screen {
	max-width: 300px;
	max-height: 450px;
}

.img-our-production {
	max-width: 600px;
	max-height: 800px;
}

.our-services-img {
	max-width: 600px;
	max-height: 400px;
}

.icon {
	width: 30px;
}

.icon-footer {
	width: 50px;
}

#spinner {
	position: fixed;
	top: 50%;
	left: 50%;
	visibility: hidden;
	color: #94B3A9;
	z-index: 3;
}

#ourWorks img {
	width: 285px;
	height: 400px;
}