@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
	font-family: 'DM Sans', sans-serif;
}

.logo1 {
	font-size: 1.5rem;
	font-weight: bolder;
	text-transform: none;
}

.img-first-screen {
	max-width: 300px;
	max-height: 450px;
}

.img-our-production {
	max-width: 600px;
	max-height: 800px;
}

